*, *::before, *::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    margin: 0;
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    min-height: 100vh;
}

img{
    width: 100%;

}

select{
    padding: .2em 1em;
    border-radius: 100px;
    margin-left: 10px;
}

figure, section{
    width: 90%;
    margin: 0 auto;
}

figcaption{
    font-weight: 700;
}

form{
    padding: 1em 0;
}

p, figcaption{
    margin: 0;
}

h1{
    font-size: 4rem;
    margin: .5em auto 0;
    line-height: 1;
}

label {
    font-weight: 700;
}

.widget{
    display: none;
}

.button-reset{
    display:none;
}

.widget, #prompt{
    width: 80%;
    max-width: 800px;
    align-self: center;
    font-size: 1.5rem;
}

.indent{
    margin-left: 25px;
}

.red{
    color: #9b1b1b;
}

.green{
    color: #006400;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.button:disabled{
    background-color: lightslategrey;
}

#controls{
    display: flex;
}

#p1NameDisplay, #p2NameDisplay{
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#controls button{
    flex: 1 1 0;
    padding: .5em;
    color: #FFF;
    font-weight: 400;
    font-size: 1.5rem;
    border: none;
    border-radius: 2px;
    transition: all .25s;
}

.button:active:not(.button:disabled) {
    background-color: #ada96e;
    box-shadow: 0 5px #666;
    transform: translateY(-4px);
}

.button-one{
    background-color: #2cb82c;
}

.button-two{
    background-color: #2b2b9b;
}

.button-reset, .button-continue{
    background-color: #b33737;
}

@media(max-width: 430px){
    #controls{
        flex-wrap: wrap;
    }

    #controls button{
        flex-basis: 100%;
    }

    button + button {
        margin-top: 5px;
    }
}

